beautifulsoup4==4.3.2
hsaudiotag==1.1.1
lxml==3.3.5
lz4==0.7.0
nose==1.3.7
numpy==1.11.2
Pafy==0.3.56
Pillow==2.5.1
psutil==3.2.2
pycrypto==2.6.1
PyInstaller==3.2
PyPDF2==1.22
PySocks==1.5.7
python-potr==1.0.0
PyYAML==3.11
requests==2.9.1
Send2Trash==1.3.0
Twisted==16.5.0
